<div>
  <select data-ng-model="lineUpsCtrl.globalData.projectionMethod" data-ng-change="lineUpsCtrl.refreshLineUps()">
    <option data-ng-repeat="method in lineUpsCtrl.projectionMethods | orderBy:name" value="{{method.name}}">
      {{method.name}}
    </option>
  </select>
  <button data-ng-click="lineUpsCtrl.updateActuals()">Update Actuals</button>
  <label>Filter:<input data-ng-model="filterText"/></label>
  <table class="table sortable no-margin" cellspacing="0" width="100%">
    <thead>
      <tr data-ng-show="lineUpsCtrl.globalData.fantasyLeague === lineUpsCtrl.globalData.FANTASY_LEAGUE.DRAFT_KINGS">
        <th></th>
        <th><button data-ng-click="lineUpsCtrl.sortBy('projected')">Projected</button></th>
        <th><button data-ng-click="lineUpsCtrl.sortBy('actual')">Actual</button></th>
        <th>Salary</th><th>Point Guard</th><th>Shooting Guard</th><th>Small Forward</th>
        <th>Power Forward</th><th>Center</th><th>Guard</th><th>Forward</th><th>Utility</th>
      </tr>
      <tr data-ng-show="lineUpsCtrl.globalData.fantasyLeague === lineUpsCtrl.globalData.FANTASY_LEAGUE.FAN_DUEL">
        <th></th>
        <th><button data-ng-click="lineUpsCtrl.sortBy('projected')">Projected</button></th>
        <th><button data-ng-click="lineUpsCtrl.sortBy('actual')">Actual</button></th>
        <th>Salary</th>
        <th>Point Guard</th><th>Point Guard</th><th>Shooting Guard</th><th>Shooting Guard</th>
        <th>Small Forward</th><th>Small Forward</th><th>Power Forward</th><th>Power Forward</th><th>Center</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="lineUp in lineUpsCtrl.lineUps | filter:filterText | orderBy:lineUpsCtrl.sortProp:lineUpsCtrl.reverse">
        <td>{{$index + 1}}
          <input type="checkbox" data-ng-model="lineUp.selected" data-ng-change="lineUpsCtrl.update(lineUp, 'selected')">
        </td>
        <td>{{lineUp.projected | number:3}}</td>
        <td>{{lineUp.actual | number:1}}</td>
        <td>${{lineUp.totalSalary}}</td>
        <th>{{lineUp.player[0].name}} {{lineUp.player[0].projected | number:1}} {{lineUp.player[0].actual | number:1}} ${{lineUp.player[0].cost}}</th>
        <th>{{lineUp.player[1].name}} {{lineUp.player[1].projected | number:1}} {{lineUp.player[1].actual | number:1}} ${{lineUp.player[1].cost}}</th>
        <th>{{lineUp.player[2].name}} {{lineUp.player[2].projected | number:1}} {{lineUp.player[2].actual | number:1}} ${{lineUp.player[2].cost}}</th>
        <th>{{lineUp.player[3].name}} {{lineUp.player[3].projected | number:1}} {{lineUp.player[3].actual | number:1}} ${{lineUp.player[3].cost}}</th>
        <th>{{lineUp.player[4].name}} {{lineUp.player[4].projected | number:1}} {{lineUp.player[4].actual | number:1}} ${{lineUp.player[4].cost}}</th>
        <th>{{lineUp.player[5].name}} {{lineUp.player[5].projected | number:1}} {{lineUp.player[5].actual | number:1}} ${{lineUp.player[5].cost}}</th>
        <th>{{lineUp.player[6].name}} {{lineUp.player[6].projected | number:1}} {{lineUp.player[6].actual | number:1}} ${{lineUp.player[6].cost}}</th>
        <th>{{lineUp.player[7].name}} {{lineUp.player[7].projected | number:1}} {{lineUp.player[7].actual | number:1}} ${{lineUp.player[7].cost}}</th>
        <th data-ng-show="lineUpsCtrl.globalData.fantasyLeague === lineUpsCtrl.globalData.FANTASY_LEAGUE.FAN_DUEL">
          {{lineUp.player[8].name}} {{lineUp.player[8].projected | number:1}} {{lineUp.player[8].actual | number:1}} ${{lineUp.player[8].cost}}
        </th>
      </tr>
    </tbody>
  </table>
</div>